<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="THLaunchX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <THLaunchX.Properties.Settings>
            <setting name="th06_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th07_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th075_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th08_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th09_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th095_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th10_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th105_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th11_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th12_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th123_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th125_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th128_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th13_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th135_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th14_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th143_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th145_path" serializeAs="String">
                <value />
            </setting>
            <setting name="th15_path" serializeAs="String">
                <value />
            </setting>
        </THLaunchX.Properties.Settings>
    </userSettings>
</configuration>